<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreetService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGreetService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGreetService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/helloworld/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGreetService" contract="GreetServiceReference.IGreetService"
                name="WSHttpBinding_IGreetService">
                <identity>
                    <userPrincipalName value="IVAN-PC\Ivan" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/helloworld/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGreetService" contract="GreetServiceReference.IGreetService"
                name="BasicHttpBinding_IGreetService" />
            <endpoint address="net.tcp://localhost:8081/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGreetService" contract="GreetServiceReference.IGreetService"
                name="NetTcpBinding_IGreetService">
                <identity>
                    <userPrincipalName value="IVAN-PC\Ivan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>