<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetUrl="http://localhost:8080/mediaService/meta" httpGetEnabled="true"/> <!--denna ska du ta i mediaclient-->
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="E02.MyMediaServiceLibrary.MediaService">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8080/mediaService/"/>
            </baseAddresses>
          </host>

          <endpoint address="basic" binding="basicHttpBinding" contract="E02.MyMediaServiceLibrary.IMediaService"/>
          <endpoint address="ws" binding="wsHttpBinding" contract="E02.MyMediaServiceLibrary.IMediaService"/>
          <endpoint address="net.tcp://localhost:8081/mediaservice" binding="netTcpBinding" contract="E02.MyMediaServiceLibrary.IMediaService"/>

        </service>
      </services>
    </system.serviceModel>
</configuration>