<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>-->
<system.serviceModel>
  <services>
    <service name="EvalServiceLibrary.EvalService">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8080/evalservice"/>
        </baseAddresses>
      </host>
    </service>
  </services>
</system.serviceModel>