<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediaService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMediaService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMediaService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/mediaService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaService"
                contract="ServiceReference.IMediaService" name="BasicHttpBinding_IMediaService" />
            <endpoint address="http://localhost:8080/mediaService/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMediaService" contract="ServiceReference.IMediaService"
                name="WSHttpBinding_IMediaService">
                <identity>
                    <userPrincipalName value="IVAN-PC\Ivan" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/mediaservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMediaService" contract="ServiceReference.IMediaService"
                name="NetTcpBinding_IMediaService">
                <identity>
                    <userPrincipalName value="IVAN-PC\Ivan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>