<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--CONFIGURATION in app.config instead off in the program-->
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.EvalService">
        <endpoint address="Http://localhost:8080/evals/basic"
                  binding="basicHttpBinding"
                  contract="ServiceLibrary.IEvalService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>