<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEvalService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8089/evalservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEvalService" contract="L04E03.RESTfullExercise.EvalServiceLibrary.IEvalService"
                name="BasicHttpBinding_IEvalService"/>
<!--manually had to add the namespace tot he contract 'L04E03.RESTfullExercise.'-->
    </client>
  </system.serviceModel>
</configuration>